<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="connectionString" connectionString="server=NGUYEN-PC;Trusted_Connection=true;Connect Timeout = 1000;Database=RealEstate" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>